
html, body, main, div{
	height:100%;
}
body{
	background:url(../images/outerspace_landscape.jpeg) no-repeat;
	background-size:cover;
}
nav{
	width:100%;
	height:60px;
	position: fixed;
	background-color: gray;
	padding-left: 60px;
	padding-right: 60px;
	margin-bottom:120px;
}
nav *{
	display:inline;
}
	nav ul {
		list-style: none;
}
ul li{
	display:inline;
}
ul li::after{
	content:" | ";
}
nav .icon{
	margin-top:5px;
	margin-bottom:5px;
	vertical-align: middle;
	position: relative;
	width:50px;
	border:solid 1px black;
	border-radius:50%;
}
.box{
	top:200px;
	position: relative;
	margin-left:auto;
	margin-right:auto;
	width:600px;
	height:300px;
	border:10px dotted green;
}
.cat, .dog{
	width:200px;
}
.cat{
	position: relative;
	left:-100px;
	top:-100px;
}
.dog{
	position: absolute;
	bottom:-100px;
	right:-100px;
}